.cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}

.cart-button img{
    width: 25px;
    height: 25px;
}

@media (max-width: 760px) {
    .cart-button {
        margin: 0 25px 0 20px;
    }
}